<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="css/main.css" />
</head>



<body ng-cloak="true" >

    <div ng-controller="RegisterForm as ctrl" class="col-sm-8 col-lg-4" >
        <h1>Registration Form</h1> 

        <form ng-show="!ctrl.isSubmitted" name="ctrl.registrationform" ng-submit="ctrl.registrationform.$valid && ctrl.onSubmit()" novalidate>
                <small>
                        *Required Fields
                </small>
                <br>
            <div class="form-group">
                <label for="email">Email*</label>
                <input class="form-control" id="email" name="email" type="text" placeholder="Enter Your Email" ng-model="ctrl.user.email" ng-pattern="ctrl.validationPattern.email" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.email.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is Required!
                    </div>
                    <div data-ng-show="ctrl.registrationform.email.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Please enter valid email address!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password*</label>
                <input class="form-control" id="password" name="password" type="password" placeholder="Enter Your Password" ng-model="ctrl.user.password" ng-pattern="ctrl.validationPattern.password" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.password.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.password.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Password is Required!
                    </div>
                    <div data-ng-show="ctrl.registrationform.password.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Please enter valid password (at least 8 chars, both upper/lower case, at least one numeric digit and special char @ # $)!
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <label for="confirmpassword">Confirm Password*</label>
                    <input class="form-control" id="confirmpassword" name="confirmpassword" type="password" placeholder="Enter Your Password AGAIN" ng-model="ctrl.user.confirmpassword" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.confirmpassword.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.user.confirmpassword != ctrl.user.password">
                                <span class="glyphicon glyphicon-alert"></span> Confirm Password does not match!
                        </div>
                        <div data-ng-show="ctrl.registrationform.confirmpassword.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Please enter same password again!
                        </div>
                    </div>
            </div>

            <div class="form-group">
                <label for="name">Name*</label>
                <input class="form-control" id="name" name="name" type="text" placeholder="Enter Your Name" ng-model="ctrl.user.name" required/>
                <div class="validation" data-ng-show="ctrl.registrationform.name.$touched || ctrl.registrationform.$submitted">
                    <div data-ng-show="ctrl.registrationform.name.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Name is Required!
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="gender">Gender*</label><br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.user.gender" value="m"/>Male<br>
                <input id="gender" name="gender" type="radio" ng-model="ctrl.user.gender" value="f" ng-checked="true"/>Female<br>
            </div>

            <div class="form-group">
                    <label for="name">Date of Birth*</label>
                    <input class="form-control" id="dob" name="dob" type="date" placeholder="Enter Your Name" ng-model="ctrl.user.dob" required/>
                    <div class="validation" data-ng-show="ctrl.registrationform.dob.$touched || ctrl.registrationform.$submitted">
                        <div data-ng-show="ctrl.registrationform.dob.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> DOB is Required!
                        </div>
                        <div data-ng-show="!ctrl.verifyAge()">
                                <span class="glyphicon glyphicon-alert"></span> Sorry! At {{ctrl.user.age}} years old, you are under-age for this! Min 18years old to access this ADULT-only site!
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="address">Address*</label>
                    <input class="form-control" id="address" name="address" type="text" placeholder="Enter Your Address" ng-model="ctrl.user.address" required/>

                    <div class="validation" data-ng-show="ctrl.registrationform.address.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.address.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Address is Required!
                            </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="country">Country*</label>
                    <select ng-model="ctrl.user.country" class="form-control" id="country">
                         <option ng-repeat="theCountry in ctrl.countries" value="{{theCountry.value}}" >{{theCountry.name}}</option>
                     </select>
                    
                     <div data-ng-show="ctrl.user.country == 'Others'" >
                            <input class='form-control' id="countryOther" name="countryOther" type="text" placeholder="Type Your Country" ng-model="ctrl.user.countryOther"/>        
                     </div>

                     <div class="validation" data-ng-show="ctrl.registrationform.country.$touched || ctrl.registrationform.$submited">
                            <div data-ng-show="ctrl.registrationform.country.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Country is Required!
                            </div>
                    </div>
                    
            </div>

            <div class="form-group">
                    <label for="contact">Contact*</label>
                    <input class="form-control" id="contact" name="contact" type="text" placeholder="Enter Your Contact" ng-model="ctrl.user.contact" ng-pattern="ctrl.validationPattern.phone" required/>

                    <div class="validation" data-ng-show="ctrl.registrationform.contact.$touched || ctrl.registrationform.$submitted">
                            <div data-ng-show="ctrl.registrationform.contact.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Contact is Required!
                            </div>
                    </div>
            </div>

            <input id='submit' name='submit' type='submit' class='btn btn-success' ng-disabled="ctrl.registrationform.$invalid"/>
            <button type="reset" ng-click="ctrl.onReset()" class='btn btn-default'>Reset</button>
            <div>
               
            </div>

            
            
        </form>   

        <div ng-show="ctrl.isSubmitted" ><h2>DATA SUBMITTED! </h2> <h3>{{ctrl.user.returnMessage}}</h3> </div>
    </div>

  
    
</body>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<!-- <script src="/js/app.js"></script> -->
<!-- refactor app.js to app.module.js and app.controller.js -->
<script src="app/app.module.js"></script>
<script src="app/app.controller.js"></script>

</html>